* {
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: 'Source Serif Pro';
    font-size: 22px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: currentColor;
}

blockquote, nav, details, figure, p {
    margin: 0;
    margin-bottom: 1em;
}

blockquote {
    position: relative;
    overflow-wrap: break-word;
}

blockquote::before {
    content: "“";
    position: absolute;
    top: -.1em;
    left: -.6em;
    font-size: 2em;
}

blockquote.twitter-tweet {
    border: 1px solid black;
    padding: 20px;
}

blockquote.twitter-tweet::before {
    content: '';
}

summary {
    display: block;
}

summary::marker {
    content: "";
}

summary::-webkit-details-marker {
    display: none;
}

summary u {
    cursor: pointer;
}

/* .action {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: currentColor;
    border: 2px solid currentColor;
    padding: 5px 10px;
    font-size: 1.2em;
} */

/* .action:hover {
    background: #ddd;
    border: 2px solid #ddd;
    color: #222;
} */

img {
    display: block;
}

.book-ranking figure {
    flex: 0 0 240px;
    margin: 0;
}

.book-ranking img {
    margin: 0 auto;
    max-width: 200px;
}

.book-ranking {
    padding: 0;
}

.book-ranking li {
    margin: 1em 0;
}

.book-detailed-mentions,
.about,
.on-reading {
    margin: 1em 0;
}

.book-ranking li,
.book-detailed-mentions,
.on-reading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
}

.about-list {
    display: flex;
    justify-content: flex-end;
}

.flex-main {
    flex-basis: 550px;
}

.flex-side {
    flex-basis: 340px;
    margin-bottom: 1em;
}

.book-ranking .flex-side {
    display: flex;
}

li {
    margin-bottom: 2em;
}

.about + ol li {
    margin-bottom: 0;
}

body > p {
    margin: 2em 0;
    margin-left: 370px;
}

.book-detailed-mentions ol {
    margin: 0;
}

.mentions-count {
    width: 100px;
}

.mentions-count span {
    font-size: 3em;
}

figcaption {
    font-size: .7em;
    margin-top: .5em;
    opacity: 0.7;
}

@media ( max-width: 960px ) {
    body {
        max-width: 590px;
        font-size: 18px;
    }

    blockquote::before {
        content: "“";
        position: absolute;
        top: 0;
        left: -.5em;
        font-size: 1em;
        font-size: 1.2em;
    }

    .flex-main,
    .flex-side {
        flex-basis: 550px;
        max-width: 100%;
    }

    .book-ranking figure {
        flex-grow: 1;
    }

    .book-ranking img {
        margin: 0;
        margin-left: auto;
    }

    img {
        height: 150px;
        width: auto;
    }
}
