body {
    color: #222;
    font-family: 'Source Serif Pro';
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: currentColor;
}

blockquote, nav, details, figure {
    margin: 0;
    margin-bottom: 1em;
}

nav {
    margin-top: 1em;
}

blockquote {
    position: relative;
}

blockquote::before {
    content: "“";
    position: absolute;
    top: -.1em;
    left: -.6em;
    font-size: 2em;
}

blockquote.twitter-tweet {
    border: 1px solid black;
    padding: 20px;
}

blockquote.twitter-tweet::before {
    content: '';
}

summary {
    display: block;
    text-decoration: underline;
    cursor: default;
}

/* .action {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: currentColor;
    border: 2px solid currentColor;
    padding: 5px 10px;
    font-size: 1.2em;
} */

/* .action:hover {
    background: #ddd;
    border: 2px solid #ddd;
    color: #222;
} */

img {
    display: block;
}

.book-ranking figure {
    flex: 0 0 240px;
    margin: 0;
}

.book-ranking img {
    margin: 0 auto;
}

.book-ranking {
    padding: 0;
}

.book-ranking li {
    display: flex;
    margin: 1em 0;
}

.book-detailed-mentions,
.about,
.on-reading {
    margin: 2em 0;
}

.book-detailed-mentions,
.on-reading {
    display: flex;
}

li {
    margin-bottom: 2em;
}

.about + ol li {
    margin-bottom: 0;
}

body > p {
    margin: 2em 0;
    margin-left: 370px;
}

.on-reading blockquote {
    margin-left: 70px;
}

.book-detailed-mentions ol {
    margin: 0;
    margin-left: 70px;
}

.mentions-count {
    flex: 0 0 100px;
}

.mentions-count span {
    font-size: 3em;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .7em;
    margin-top: .5em;
    opacity: 0.7;
}
